/*inline style selector > id selector > class selector > element selector  */

h1{
    color:green;
}

.head1{
    color:red;

}

.head3{
    color:orangered;
}
.head3{
    color:orangered !important;
}

#head2{
    color:blue;
}



