body{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    width: 1000px;
    margin: 20px auto;
}
header h1{
    background-color: rgb(170, 170, 170);
    text-align: center;
    padding: 10px 0px;
}

article{
    border: 4px solid black;
    margin-bottom: 20px;
    padding: 5px 10px;
}